{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="text-center my-4">
    <img
    src="{{ `images/profile.png` | relURL }}"
    class="rounded-circle mx-auto"
    width="250"
    height="250"
  />
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
      <!-- 在 {{ .Content }} 之后，col-lg-9...</div> 之前插入： -->
      <!-- Icons -->
      <div class="social-icons">
        <a href="https://github.com/hhcs9527" aria-label="GitHub" target="_blank">
          <svg class="icon" viewBox="0 0 24 24"><path fill="currentColor" d="M12 .5C5.73.5.5 5.73.5 12c0 5.1 3.29 9.42 7.86 10.96.58.1.79-.25.79-.56v-2.01c-3.2.7-3.87-1.39-3.87-1.39-.53-1.35-1.3-1.71-1.3-1.71-1.06-.72.08-.71.08-.71 1.17.08 1.79 1.2 1.79 1.2 1.04 1.78 2.73 1.27 3.4.97.1-.76.41-1.28.75-1.57-2.55-.29-5.24-1.28-5.24-5.7 0-1.26.45-2.3 1.19-3.12-.12-.29-.52-1.45.11-3.03 0 0 .97-.31 3.19 1.19.92-.26 1.9-.39 2.88-.39.98 0 1.96.13 2.88.39 2.21-1.5 3.18-1.19 3.18-1.19.64 1.58.24 2.74.12 3.03.74.82 1.18 1.86 1.18 3.12 0 4.43-2.7 5.4-5.27 5.68.42.37.8 1.1.8 2.22v3.3c0 .31.2.66.8.55C20.72 21.42 24 17.1 24 12c0-6.27-5.23-11.5-12-11.5z"/></svg>
        </a>
        <a href="https://www.linkedin.com/in/po-han-huang-076649159/" aria-label="LinkedIn" target="_blank">
          <svg class="icon" viewBox="0 0 24 24"><path fill="currentColor" d="M20.447 20.452h-3.554v-5.569c0-1.327-.025-3.037-1.851-3.037-1.853 0-2.136 1.445-2.136 2.94v5.666H9.353V9h3.413v1.561h.049c.476-.9 1.637-1.85 3.37-1.85 3.603 0 4.27 2.37 4.27 5.456v6.285zM5.337 7.433c-1.144 0-2.07-.926-2.07-2.07 0-1.143.926-2.07 2.07-2.07 1.143 0 2.07.927 2.07 2.07 0 1.144-.927 2.07-2.07 2.07zm1.777 13.019H3.56V9h3.554v11.452z"/></svg>
        </a>
      </div>

      <a href="https://www.buymeacoffee.com/你的用戶名" target="_blank">
        <img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
          alt="Buy Me A Coffee"
          style="height: 45px; width: 162px"
        />
      </a>


  </div>

</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Update content</h2>
          <p>Edit <code>content/en/_index.md</code> to see this page change.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Add new content</h2>
          <p>Add Markdown files to <code>content</code> to create new pages.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Configure your site</h2>
          <p>Edit your config in <code>config/_default/params.toml</code>.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Read the docs</h2>
          <p>Learn more in the <a href="https://getdoks.org/">Docs</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
